@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .promo {
        &__countries {
            li {
                grid-template-columns: auto;
            }
            &-img {
                display: none;
            }
        }
    }
    .benefit {
        &__row {
            grid-template-columns: repeat(auto-fill,300px);
        }
    }
    .first-arrow, .second-arrow {
        &::before {
            left: calc(45% - 3px);
        }
    }

}
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__countries {
            display: none;
        }
    }
    .benefit {
        &__row {
            grid-template-columns: repeat(auto-fill,230px);
            column-gap: 10px;
        }
        &__item {
            
        }
        &__text {
            width: 100%;
            font-size: 15px;
        }
        .first-arrow, .second-arrow {
            &::before {
                left: calc(42% - 3px);
            }
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .promo {
        text-align: center;
        &__title{
            margin: 0 auto;
            margin-top: 100px;
        }
        
        &__descr {
            margin: 0 auto;
            margin-top: 30px;
        }
        &__menu {
            padding-top: 20px;
            flex-direction: column;
            ul {
                display: none;
            }
        }
        &__slider {
            &-dots {
                li {
                    &::before {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            &-nav{
                width: 250px;
            }
        }
        .left-arrow, .right-arrow {
            display: none;
        }
    }
    .burger {
        display: flex;
    }
    .benefit {
        &__item {
            &_last, &_first {
                grid-column: 1 / 3;
                width: 230px;
                justify-self: center;
            }
        }
        .first-arrow, .second-arrow {
            &::before {
                left: calc(38% - 3px);
            }
        }
    }
}
@media (max-width: 575px) {
    .container {
        max-width:  100%;
        padding: 0 10px 0 10px;
    }
    .promo {
        &__title {
            width: 100%;
            font-size: 23px;
            line-height: 23px;
        }
        &__descr {
            width: 100%;
            font-size: 18px;
            line-height: 21px;
        }
        &__slider {
            background: url('../img/bg/first_bg.jpg') 45% (center / cover) no-repeat;
            &-window {
                display: none;
            }
            &-nav {
                display: none;
            }
        }
    }
    .menu {
        &__block {
            width: 80%;
            padding-left: 20px;
        }
        &__link {
            a {
                font-size: 16px;
                line-height: 35px;
                text-transform: uppercase;
            }
        }
    }
    .benefit {
        &__row {
            grid-template-columns: 230px;
        }
        &__item {
            &_first {
                grid-column: 1;
            }
            &_last {
                grid-column: 1;
            }
        }
        .first-arrow, .second-arrow {
            &::after {
                left: calc(67% - 3px);
            }
        }
    }
}