@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .promo {
        &__countries {
            li {
                grid-template-columns: auto;
            }
            &-img {
                display: none;
            }
        }
    }
    .benefit {
        &__row {
            grid-template-columns: repeat(auto-fill,300px);
        }
    }
    .first-arrow, .second-arrow {
        &::before {
            left: calc(47% - 3px);
        }
        &::after {
            left: calc(56% - 3px);
        }
    }
    .solutions {
        background: url(../img/bg/woman_bg.jpg) 64% center/cover no-repeat;
        &__slider {
            width: 800px;
            background: url(../img/laptop.png) center center/contain no-repeat;
            &-window {
                transform: translate(-50%, calc(-26% + -1px));
                width: 590px;
                height: 373px;
            }
        }
    }
    .advantagies {
        &__grid {
            grid-template-columns: repeat(2, auto);
        }
    }

    .data-base {
        &__item {
            &-descr {
                width: 400px;
            }
        }
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__countries {
            display: none;
        }
    }
    .benefit {
        &__row {
            grid-template-columns: repeat(auto-fill,230px);
            column-gap: 10px;
        }
        &__item {
            
        }
        &__text {
            width: 100%;
            font-size: 15px;
        }
        .first-arrow, .second-arrow {
            &::before {
                left: calc(46% - 15px);
            }
            &::after {
                left: calc(57% - 7px);
            }
        }
    }
    .solutions {
        &__navigation {
            width: 710px;
            ul {
                padding: 0;
                justify-content: space-around;
                li {
                    padding: 0 10px;
                    text-align: center;
                }
            }
        }
        &__slider {
            width: 600px;
            height: 355px;
            &-window {
                width: 442px;
                height: 291px;
                background-color: #000;
                transform: translate(-50%,calc(-18% - 2px));
                img {
                    object-fit: contain;
                }
            }
            
        }
    }
    .advantagies {
        &__text {
            padding: 40px 20px;
        }
        &__grid {
            grid-template-rows: repeat(3,minmax(280px,auto));
        }
    }
    .data-base {
        &__item {
            &-title {
                font-size: 21px;
                line-height: 24px;
            }
            &-descr {
                width: 340px;
                font-size: 15px;
                line-height: 18px;
            }
            &_bg {
                &-cloud {
                    padding-right: 40px;
                    &::before {
                        right: 20px;
                    }
                }
                &-server {
                    padding-left: 40px;
                    &::before {
                        left: 20px;
                    }
                }
            }
        }
    }
    .footer {
        &__grid {
            grid-template-columns: repeat(auto-fit, 200px);
            row-gap: 10px;
            justify-content: space-between;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .promo {
        text-align: center;
        &__title{
            margin: 0 auto;
            margin-top: 100px;
        }
        
        &__descr {
            margin: 0 auto;
            margin-top: 30px;
        }
        &__menu {
            padding-top: 20px;
            flex-direction: column;
            ul {
                display: none;
            }
        }
        &__slider {
            &-dots {
                li {
                    &::before {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            &-nav{
                width: 250px;
            }
        }
        .left-arrow, .right-arrow {
            display: none;
        }
    }
    .burger {
        display: flex;
    }
    .benefit {
        &__item {
            &_last, &_first {
                grid-column: 1 / 3;
                width: 230px;
                justify-self: center;
            }
        }
        .first-arrow, .second-arrow {
            &::before {
                left: calc(45% - 11px);
            }
            &::after {
                left: calc(60% - 6px);
            }
        }
    }
    .title {
        &_white {
            width: 100%;
        }
        font-size: 24px;
    }
    .solutions {
        
        &__navigation {
            width: 100%;
            ul {
                justify-content: space-between;
                li {
                    width: 80px;
                    line-height: 20px;
                    padding: 0 3px;
                    &:not(:first-child)::after {
                        left: -8px;
                    }
                }
            }
        }
        &__slider {
            width: 540px;
            height: 355px;
            &-window {
                width: 400px;
                transform: translate(-50%,calc(-17% - 2px));
            }
            .left-arrow {
                left: 0;
            }
            .right-arrow {
                right: 0;
            }
        }
    }
    .advantagies {
        &__text {
            font-size: 17px;
            line-height: 20px;
        }
        &__grid {
            grid-template-rows: repeat(3,minmax(220px,auto));
        }
    }
    .data-base {
        padding-top: 75px;

        h2 {
            color: #000;
            top: 0;
            font-size: 21px;
            line-height: 24px;
        }
        &__grid {
            grid-template-columns:  1fr;
            grid-template-rows: repeat(2, minmax(300px, auto));
            grid-auto-rows:  minmax(300px, auto);
        }
        &__item {
            &-descr {
                width: 410px;
            }
        }
    }
    .feedback {
        min-height: 600px;
        &__descr {
            font-size: 25px;
        }
        &__icon {
            width: 200px;
            height: 200px;
            &::before {
                height: calc(100% + 4px);
            }
            &::after {
                width: calc(100% + 4px);
            }
        }
    }
    .footer {
        &__grid {
            grid-template-columns: repeat(auto-fit,250px);
        }
    }
}
@media (max-width: 575px) {
    .container {
        max-width:  100%;
        padding: 0 10px 0 10px;
    }
    .title {
        width: 300px;
        font-size: 18px;
    }
    .promo {
        &__title {
            width: 300px;
            font-size: 23px;
            line-height: 23px;
        }
        &__descr {
            width: 300px;
            font-size: 18px;
            line-height: 21px;
        }
        &__slider {
            background: url('../img/bg/first_bg.jpg') 38% (center / cover) no-repeat;
            &-window {
                display: none;
            }
            &-nav {
                display: none;
            }
        }
    }
    .menu {
        &__block {
            width: 80%;
            padding-left: 20px;
        }
        &__link {
            a {
                font-size: 16px;
                line-height: 35px;
                text-transform: uppercase;
            }
        }
    }
    .benefit {
        .title {
            font-size: 32px;
        }
        &__row {
            grid-template-columns: 230px;
        }
        &__item {
            &_first {
                grid-column: 1;
            }
            &_last {
                grid-column: 1;
            }
        }
        &__arrows {
            width: 300px;
            margin: 0 auto;
        }
        .first-arrow, .second-arrow {
            &::before {
                left: 113px;
            }
            &::after {
                left: 199px;
            }
        }
    }
    .solutions {
        .title {
            line-height: 21px;
        }
        &__navigation {
            max-width: 400px;
            ul {
                grid-template-columns: repeat(3,1fr);
                li {
                    width: auto;
                    padding: 0 10px;
                    &:nth-child(4) {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        &__slider{
            width: 300px;
            height: 193px;
            &-window {
                height: 148px;
                width: 221px;
                transform: translate(-50%,calc(-12% - 3px));
            }
            .left-arrow, .right-arrow {
                display: none;
            }
        }
    }
    .advantagies {
        h2 {
            width: 300px;
            line-height: 21px;
        }
        &__grid {
            grid-template-columns: 300px;
            grid-template-rows: repeat(3,minmax(200px,auto));
            grid-auto-rows: minmax(200px, auto);
            justify-content: center;
        }
    }
    .data-base {
        h2 {
            width: 300px;
        }
        &__item {
            &-title {
                width: 300px;
                text-align: center;
            }
            &-descr {
                width: 300px;
                text-align: center;
            }
            &_bg {
                &-cloud {
                    padding: 0 10px;
                    align-items: center;
                    &::before {
                        right: 50%;
                        transform: translateX(50%);
                    }
                }
                &-server {
                    padding: 0 10px;
                    align-items: center;
                    &::before {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
    .feedback {
        &__descr {
            font-size: 21px;
            line-height: 25px;
        }
    }
    .footer {
        &__grid {
            column-gap: 10px;
        }
    }
}