@media (max-width: 1199px) {
    .header {
        padding: 0 50px;
    }
    .promo {
        &__wrapper {
            padding-right: 50px;
        }

    }

    .title {
        &_left {
            font-size: 30px;
        }
    }

    .consultation {
        padding: 100px 0 92px 50px;
        &__descr {
            font-size: 18px;
        }
    }
    .carousel {
        &__inner {
            width: 550px;
            margin: 0 auto;
        }
        &__dots {

        }
        &__inner {
            display: flex;
            align-items: center;
        }
        &__sliderWindow {
            div {
                &:nth-child(2) {
                    img {
                        height: 440px;
                        margin-right: 0px;
                    }
                }
            }
            img {
                display: block;
                width: 550px;

            }
        }
        &__btn {
            &_left {
                left: -50px;
            }
            &_right {
                right: -50px;
            }
        }
    }
    .catalog {
        &__content {
            justify-content: center;
            
        }
        &-item {
            margin: 0 5px;
            margin-bottom: 20px;
            
        }
    }
    .reviews {
        &__user {
            max-width: 640px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        padding: 0px 25px;
    }
    .promo {
        background: url(../img/bg/first_bg.jpg) -350px center/cover no-repeat;
        &__header {
            font-size: 36px;
        }
        &__subheader {
            margin-top: 0;
            font-size: 18px;
        }
        &__icons {
            width: 350px;
            margin-top: 50px;
        }
        &__wrapper {
            padding-right: 25px;
        }
    }
    .advantage {
        &__item-subtitle {
            padding: 0 5px;
        }
    }
    .carousel {
        width: 600px;
        &__inner {
            width: 450px;
            height: 400px;
        }
        &__sliderWindow {
            div {
                &:nth-child(2) {
                    img {
                        height: 360px;
                    }
                }
            }
            img {
                width: 450px;
            }
        }
    }
    .reviews {
        &__avatar {
            margin-right: 40px;
        }
        &__title {
            font-size: 17px;
        }
        &__message {
            font-size: 15px;
        }
        &__user {
            width: 390px;
        }
    }
}

@media(max-width: 767px) {
    .sm-hidden {
        display: none;
    }
    .promo {
        &__header {
            font-size: 28px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__link {
            font-size: 15px;
        }
        &__icons {
            justify-content: end;
        }
    }
    .button_main {
        width: 250px;
    }
    .advantage {
        &__items {
            margin-top: 40px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 15px;
        }
        &__item-title {
            margin-top: 20px;
        }
        &__item-subtitle {
            margin-top: 5px;
            padding: 0;
        }
    }
    .consultation {
        min-height: 600px;
        padding: 100px 0 92px 0;
        &__descr {
            line-height: 22px;
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .title {
        &_left {
            font-size: 22px;
            text-align: center;
        }
    }
    .carousel {
        width: 576px;
        &__btn {
            &_left {
                left: 5px;
            }
            &_right {
                right: 5px;
            }
            img {
                width: 15px;
            }
        }
    }
    .catalog {
        &__tab {
            width: 150px;
            font-size: 15px;
            &_active {
                font-size: 15px;
            }
        }
    }
    .reviews {
        &__avatar {
            margin-right: 20px;
            img {
                width: 100px;
            }
        }
    }
    .policy {
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        flex-direction: column;
        &__phone {
            margin-top: 10px;
        }
    }
    .promo {
        padding: 21px 0 77px 0;
        &__header {
            font-size: 21px;

        }
        &__wrapper {
            margin-top: 60px;
            padding: 0;
            text-align: center;
            align-items:center;
        }
        &__icons {
            justify-content: center;
            align-items: center;
        }
        &__icon {
            width: 90px;
            font-size: 11px;
        }
    }
    .button {
        margin-top: 30px;
    }

    .title {
        font-size: 20px;
        &_left {
            font-size: 13px;
            line-height: 18px;
        }
    }
    
    .advantage {
        &__items {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 15px;
            img {
                width: 50px;
                height: 50px;
            }
        }
        &__item-title {
            margin-top: 20px;
        }
        &__item-subtitle {
            margin-top: 5px;
            padding: 0;
        }
    }

    .consultation {
        &__descr {
            font-size: 12px;
            line-height: 14px;
        }
        .feed-form {
            width: 250px;
        }
    }
    .carousel {
        width: 320px;
        padding: 0;
        &__inner {
            width: 100%;
        }
        &__sliderWindow {
            div {
                &:nth-child(2) {
                    img {
                        height: 260px;
                    }
                }
            }
            img {
                width: 320px;
            }
        }
        &__btn {
            display: none;
        }
        &__dots {
            display: flex;
            justify-content: space-around;
            width: 150px;
        }
        &__dot {
            width: 30px;
            height: 30px;
        }
    }
    .catalog {
        margin-top: 30px;
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 10px;
            width: 220px;
            font-size: 15px;
            &_active {
                font-size: 15px;
            }
        }
    }
    .reviews {
        &__review {
            flex-direction: column;
            align-items: center;
        }
        &__avatar {
            margin-right: 0px;
            img {
                width: 100px;
            }
        }
        &__user {
            width: 100%;
        }
        &__title {
            text-align: center;
        }
        &__achievment {
            text-align: center;
        }
        &__message {
            padding: 0 10px;
            font-size: 13px;
        }
    }
    .footer {
        &__addr {
            margin-bottom: 20px;
            font-size: 15px;
        }
        &__info {
            width: 270px;
            height: 200px;
            font-size: 14px;
            line-height: 16px;
            padding: 25px;
            margin-bottom: 20px;
        }
        &__social {
            margin-top: 20px;
        }
        &__social-item {
            font-size: 20px;
            height: 45px;
        }
    }
    .modal {
        width: 290px;
        min-height: 365px;
        padding: 20px;
        padding-top: 40px;
        &__title {
            font-size: 15px;
        }
        &__subtitle {
            font-size: 12px;
        }
        .button {
            margin-top: 0;
        }
        &__close {
            top: 10px;
            right: 5px;
        }
        
    }
    .feed-form {
        width: 100%;
        &_mt25 {
            margin-top: 10px;
        }
    }
    .policy {
        span {
            margin-left: 20px;
            width: 200px;
        }
    }
}