@media (max-width: 1400px) {
    .sidepanel {
        display: none;
    }

}
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__grid {
            grid-template-columns: 400px 500px;
            column-gap: 34px;
        }
        &__skills {
            grid-template-columns: repeat(2,245px);
            column-gap: 10px;
            row-gap: 20px;
        }
    }

}
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .about {
        &__grid {
            grid-template-columns: 300px 400px;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .card {
        &__text {
            width: 100%;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__title {
            width: 335px;
        }
    }
    .about {
        &__grid {
            grid-template-columns: 1fr;
        }
    }
}
@media (max-width: 575px) {
    .container {
        max-width:  100%;
        padding: 0 10px 0 10px;
    }
    .promo {
        padding-top: 50%;
        background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) ), url('../img/bg/Background.jpg') 60% center/cover no-repeat;
        &__title {
            width: 310px;
        }
    }
    .burger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
        &__social {
            width: 120px;
            a {
                width: 30px;
                height: 30px;
                font-size: 30px;
            }
        }
    }
}