@import 'libs/bootstrap-reboot';
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/animations';


* {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #00c2f0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: none;
        color: var(--main-color);
    }
}



@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/arrows';
@import 'blocks/benefit';
@import 'blocks/solutions';
@import 'blocks/title';
@import 'blocks/advantagies';
@import 'blocks/data-base';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/burger';
@import 'blocks/overlay';
@import 'blocks/menu';
@import 'base/media';