.left-arrow {
    width: 11px;
    height: 11px;
    position: relative;
    cursor: pointer;
    &::before {
        position: absolute;
        content: '';
        top: -1px;
        left: 5px;
        transform: rotate(45deg);
        display: block;
        height: 8px;
        width: 1px;
        background-color: #fff;
    }
    &::after {
        position: absolute;
        top: 5px;
        left: 5px;
        transform: rotate(-45deg);
        content: '';
        display: block;
        height: 8px;
        width: 1px;
        background-color: #fff;
    }
    &_wide-blue {
        position: absolute;
        top: 50%;
        left: -50px;
        width: 25px;
        height: 65px;
        transform: translateY(-100%);
        &::before {
            top: 0;
            left: 10px;
            height: 35px;
            transform: rotate(30deg);
            background-color: #00c2f0;
        }
        &::after {
            top: 31px;
            left: 10px;
            height: 35px;
            transform: rotate(-30deg);
            background-color: #00c2f0;
        }
    }
}

.right-arrow {
    width: 11px;
    height: 11px;
    position: relative;
    cursor: pointer;
    &::before {
        position: absolute;
        content: '';
        top: -1px;
        left: 5px;
        transform: rotate(-45deg);
        display: block;
        height: 8px;
        width: 1px;
        background-color: #fff;
    }
    &::after {
        position: absolute;
        top: 5px;
        left: 5px;
        transform: rotate(45deg);
        content: '';
        display: block;
        height: 8px;
        width: 1px;
        background-color: #fff;
    }
    &_wide-blue {
        position: absolute;
        top: 50%;
        right: -50px;
        width: 25px;
        height: 65px;
        transform: translateY(-100%);
        &::before {
            top: 0;
            left: 10px;
            height: 35px;
            transform: rotate(-30deg);
            background-color: #00c2f0;
        }
        &::after {
            top: 31px;
            left: 10px;
            height: 35px;
            transform: rotate(30deg);
            background-color: #00c2f0;
        }
    }
}

.first-arrow {
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 22px;
        left: 46%;
        background-color: #ececec;
        width: 1px;
        height: 100px;
        transform: rotate(-60deg) translateX(-50%);
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 22px;
        left: calc(54% - 4px);
        background-color: #ececec;
        width: 1px;
        height: 100px;
        transform: rotate(60deg) translateX(-50%);
    }
}


.second-arrow {
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 42px;
        left: 46%;
        background-color: #ececec;
        width: 1px;
        height: 100px;
        transform: rotate(-60deg) translateX(-50%);
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 42px;
        left: calc(54% - 4px);
        background-color: #ececec;
        width: 1px;
        height: 100px;
        transform: rotate(60deg) translateX(-50%);
    }
}
