.resume {
    padding-bottom: 120px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding: 60px 65px 0 65px;
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 50px;
            line-height: 28px;
            @include before_circle_small;
        }
        ul {
            list-style-type: none;
            position: relative;
            margin-bottom: 0;
            padding: 0;
            li {
                padding-bottom: 7px;
                &:before {
                    content: '';
                    position: absolute;
                    top: -4px;
                    left: 7px;
                    width: 1px;
                    height: 100%;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 65px;
            left: 7px;
            height: 1px;
            width: 44px;
            background-color: #000;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 107px;
        }
        &-body {
            font-weight: 500;
            padding-left: 50px;
            margin-top: 9px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            left: 51px;
            padding: 15px 0 0 15px;
            @include before_circle;
        }
        &-location {
            font-size: 12px;
            line-height: 20px;
        }
    }
}