.skills {
    &__grid {
        padding: 60px 10px 0 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 270px);
        grid-auto-rows: minmax(270px, 1fr);
        grid-gap: 13px;
        justify-content: center;
        &-item {
            padding: 30px 30px 25px 30px;
            border: 1px solid #000000;
        }
        &-img {
            display: flex;
            align-items: center;
            height: 65px;
        }
        &-title {
            margin-top: 20px;
            font-size: 14px;
            line-height: 21px;
            font-weight: 700;
            margin-bottom: 0;
        }
        &-descr {
            margin-top: 15px;
            font-size: 12px;
            line-height: 18px;
            font-weight: 500;
        }
    }
    &__level {
        padding-top: 120px;
        padding-bottom: 120px;
        &-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 350px);
            grid-auto-rows: minmax(70px, 1fr);
            column-gap: 45px;
            row-gap: 30px;
            justify-content: center;
        }
        &-header {
            display: flex;
            justify-content: space-between;
            &-title {
                position: relative;
                padding-left: 14px;
                @include before_circle;
            }
        }
        &-scale {
            margin-top: 27px;
            height: 14px;
            background-color: #E8E4DE;
            border-radius: 4px;
            &-current {
                background-color: $main-color;
                height: 100%;
                border-radius: 4px;
            }
        }
    }
}