@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .header {
        &__subtitle {
            font-size: 56px;    
        }
        &__descr {
            font-size: 32px;
        }

        .call-me {
            grid-template-columns: 1fr;
            column-gap: 0px;
            row-gap: 5px;
            &__subtitle {
                grid-column: 2;
                grid-row: 1;
                text-align: center;
            }
            &__phone {
                font-size: 18px;
                grid-column: 2;
                grid-row: 2;
                text-align: center;
            }
            .button {
                grid-row: 3;
                // grid-column: 1 / 3;
            }
        }

        &__advantagies {
            grid-gap: 28px;
            &-descr {
                font-size: 15px;
            }
        }
    }
    .agent {
        &__descr {
            width: auto;

        }
    }
}
@media (max-width: 991px) {
    a {
        &:hover {
            color: #fff;
            border: none;
        }
    }
    .container {
        max-width: 720px;
    }

    .header {
        &__wrapper{
            &-nav {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: repeat(2, 1fr);
                justify-content: space-between;
                align-items: center;
            }
        }
        &__nav {
            grid-column: 1 / 3;
            grid-row: 2;
            ul {
                justify-content: space-around;
            }
        }

        .call-me {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 18px;
            &__subtitle {
                grid-column: 1;
                text-align: right;
            }
            &__phone {
                grid-column: 1;
                grid-row: 2;
                text-align: right;
            }
            .button {
                grid-row: 1 / 3;
                grid-column: 2;
            }
        }

        &__title {
            padding-top: 0;
            font-size: 21px;
        }

        &__subtitle {
            font-size: 46px;
        }

        &__descr {
            font-size: 26px;
        }

        .button {
            &:hover {
                filter: none;
            }
        }

        &__dot-divider {
            width: 609px;
            &::before {
                width: 290px;
            }
            &::after {
                width: 290px;
            }
            span {
                &::before {
                    content: '';
                    display: block;
                    background-color: #fefefe;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                }
            }
        }
        &__advantagies {
            grid-template-columns: repeat(auto-fill, 260px);
        }
    }
    .benefits {
        &__grid {
            column-gap: 30px;
            row-gap: 20px;
        }
        &__item {
            column-gap: 10px;
            &-title {
                font-size: 14px;
            }
        }
    }
    .our-work {
        .subtitle {
            font-size: 17px;
            line-height: 20px;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .title {
        font-size: 22px;
    }
    .header {
        padding-top: 50px;
        &__title {
            padding-top: 10px;
            font-size: 17px;
        }
        &__subtitle {
            font-size: 35px;
        }
        &__descr {
            font-size: 20px;
        }
        &__dot-divider {
            width: 409px;
            &::before {
                width: 190px;
            }
            &::after {
                width: 190px;
            }
            span {
                &::before {
                    content: '';
                    display: block;
                    background-color: #fefefe;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                }
            }
        }
        &__advantagies {
            grid-gap: 20px; 
        }
        &__nav {
            min-width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            position: fixed;
            top: -100vh;
            left: 0;
            background-color: rgba(0, 0, 0, .7);
            transition: .5s;
            z-index: 10;
            ul {
                display: flex;
                flex-direction: column;
                font-size: 20px;
                justify-content: start;
                a {
                    font-size: 25px;
                    line-height: 50px;
                }
            }
            &.active {
                top: 40px;
            }
        }
        &__wrapper {
            &-nav {
                grid-template-rows: 1fr;
            }
        }
        .burger {
            display: block;
            background-color: rgba(0, 0, 0, .7);
            &__button {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                &.active {
                    &::after {
                        transition: .5s;
                        transform: rotate(45deg);
                    }
                    &::before {
                        transition: .5s;
                        transform: rotate(-45deg) translate(-4px, 5px);
                    }
                    span {
                        &:after {
                            transition: .5s;
                            display: none;
                        }
                    }
                }

            }
        }
    }
    .benefits {
        &__grid {
            column-gap: 15px;
        }
        &__item {
            column-gap: 0;
            &-title {
                font-size: 12px;
                line-height: 16px;
            }
            &-text {
                font-size: 13px;
            }
        }
    }
    .our-work {
        .subtitle {
            font-size: 13px;
            line-height: 16px;
        }
        &__grid {
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
        &__item {
            &-descr {
                margin-top: 15px;
            }
            &-img {
                display: flex;
                justify-content: center;
                img {
                    width: auto;
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .container {
        max-width:  100%;
        padding: 0 10px 0 10px;
    }

    .header {
        &__wrapper {
            &-nav {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, auto);
            }
        }
        .call-me {
           display: none;
        }
        &__title {
            font-size: 15px;
            span {
                display: block;
                
            }
            .hyphen {
                display: none;
            }
        }
        &__subtitle {
            font-size: 20px;
        }
        &__descr{
            font-size: 16px;
        }

        &__dot-divider {
            width: 209px;
            &::before {
                width: 90px;
            }
            &::after {
                width: 90px;
            }
            span {
                &::before {
                    content: '';
                    display: block;
                    background-color: #fefefe;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                }
            }
        }
    }
    .benefits {
        .title {
            font-size: 22px;
        }
        &__grid {
            grid-template-columns: 300px;
            row-gap: 60px;
        }
        &__item {
            column-gap: 0;
            &-title {
                font-size: 12px;
                line-height: 16px;
            }
            &-text {
                font-size: 13px;
            }
        }
    }
    .our-work {
        &__item {
            &-img {
                img {
                    width: 300px;
                }
            }
        }
    }
    .agent {
        &__descr {
            width: 300px;
            font-size: 14px;
            line-height: 20px;
        }
    }
}