.our-work {
    padding-top: 51px;
    padding-bottom: 57px;
    .subtitle {
        max-width: 880px;

    }
    &__grid {
        padding-top: 35px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }
    &__item {
        &-descr {
            margin-top: 30px;
        }
        &-title {
            text-align: center;
            color: $main-color;
        }
        &-text {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 300;
            color: #3a3a3a;
            text-align: justify;
        }
        &-img {
            img {
                width: 100%;

            }
        }
    }

}