@import 'libs/bootstrap-reboot';
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';

* {
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
    &:hover {
        border-bottom: 1px solid $main-color;
        padding-bottom: 5px;
        color: $main-color;
    }
}

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/footer';
@import 'blocks/buttons';
@import 'blocks/call-me';
@import 'blocks/burger';
@import 'blocks/title';
@import 'blocks/benefits';
@import 'base/media';