$bgfa: #fafafa;
$fc: #838383;
$mencol: #fd926d;
$whcol: #fff;
$itembgc: #fafafa;
$fs: 30; //added font-size without px dimention
$ls-5: -5 * 30 / 1000 * 1px;
$header-height: 23.8;
$maxWidth: 768;
$headerHeight: 608;
$mainHeight: 1806;
$footerHeight: 479;
$blackRowHeight: 30;
$logoRowHeight: 108;
$menuRowHeight: 65;
$sliderRowHeight: 350;
$pointsRowHeight: 55;

%flexc {
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin adfont($min) {
    $sub: $fs - $min;

    font-size: calc(#{$min + px} + #{$sub + $sub * 0.7} * ((100vw - 240px) / #{$maxWidth}));
}

@mixin adheight($dim) {
    height: calc(#{$dim} * (100vw / #{$maxWidth}));
}

@mixin fontSize($par){
    font-size: calc(#{$par} * (100vw / #{$maxWidth}));
}
@mixin gridTrow ($firstRow, $secondRow, $thirdRow, $fourthRow, $fifthRow){
    grid-template-rows: calc(#{$firstRow} * (100vw / #{$maxWidth}))
    calc(#{$secondRow} * (100vw / #{$maxWidth}))
    calc(#{$thirdRow} * (100vw / #{$maxWidth}))
    calc(#{$fourthRow} * (100vw / #{$maxWidth}))
    calc(#{$fifthRow} * (100vw / #{$maxWidth}));
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 2.3%) repeat(2, 43%) repeat(3, 2.3%);
    grid-auto-rows: calc(#{$headerHeight} * (100vw / #{$maxWidth})) calc(#{$mainHeight} * (100vw / #{$maxWidth})) calc(#{$footerHeight} * (100vw / #{$maxWidth}));
    grid-template-areas: 'header header header header header header header header' 'main main main main main main main main' 'footer footer footer footer footer footer footer footer';
    height: 100%;
}

header {
    
    height: 100%;
    width: 100%;
    grid-area: header;
}

.container {
    display: grid;
    grid-template-rows: calc(#{$blackRowHeight} * (100vw / #{$maxWidth})) calc(#{$logoRowHeight} * (100vw / #{$maxWidth})) 
    calc(#{$menuRowHeight} * (100vw / #{$maxWidth})) calc(#{$sliderRowHeight} * (100vw / #{$maxWidth})) calc(#{$pointsRowHeight} * (100vw / #{$maxWidth}));
    grid-template-columns: 50% 50%;
    height: 100%;

    > div:first-child {
        display: flex;

        @include adheight(30);

        background-color: $bgfa;

        color: $fc  ;
        text-transform: uppercase;
        letter-spacing: $ls-5;
        line-height: normal;
        background-color: #000;
        @include fontSize(11);
        color: $whcol;
        padding-left: 2%;
        width: 100%;
        align-items: center;
        text-align: left;
    
    }
}

.myacc {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    @include adheight(30);
    background-color: black;
    color: $whcol;
    @extend %flexc;
    text-transform: uppercase;
    justify-content: flex-end;
    padding-right: 2 / 50 * 100%;
    a:nth-child(2) {
        display: flex;
        width: 128px;
        height: 100%;
        font-size: 11px;
        letter-spacing: -0.15px;
        border-right: 1px solid #444444;
        text-decoration: none;
    }
    select {
        height: 100%;
        width: 70px;
        background: #000 url(../images/768/triangle.png) no-repeat center left;
        background-position-x: 50px;
        text-indent: 15px;
        color: #fff;
        border: none;
        appearance: none;
        text-align: center;
        border-left: 1px solid #444444;
        border-right: 1px solid #444444;
        cursor: pointer;
        @include fontSize(11);
        option {
            color: #fff;
            margin-left: 15px;
          }
    }
    a:nth-child(2) {
        display: flex;
        width: 16.7 / 50 * 100%;
        height: 100%;
        @include fontSize(11);
        letter-spacing: $ls-5;
        @extend %flexc;
        border-right: 1px solid #444444;

        img {
            margin-right: 3 / 60 * 100%;
            @include adheight(13);
        }
    }
    a:nth-child(2):visited {
        color: #fff;
      }
      
    a:nth-child(2):hover {
        color: #fd926d;
      }
    div:nth-child(3) {
        display: flex;
        height: 100%;
        width: 4.6 / 50 * 100%;
        padding-right: 1.2 / 50 * 100%;
        border-right: 1px solid #444444;
        align-items: center;
        justify-content: flex-end;
        img {
            @include adheight(15);
        }
    }

    button {
        height: 100%;
        width: 9.5 / 50 * 100%;
        background-color: transparent;
        color: $whcol;
        border: none;
        letter-spacing: $ls-5;
        border-left: 1px solid #444444;
        border-right: 1px solid #444444;

        @include fontSize(11);
    }
}

.logo {
    display: none;
    grid-column: 1/2;
    width: 100%;

    @include adheight(108);

    background-color: white;
    font: bold calc(94.14 * (100vw / 640)) "Trebuchet MS", sans-serif;
    letter-spacing: -2.3px;

    @extend %flexc;

    img {
        position: relative;
        top: 5%;
        height: calc(50 * (100vw / 640));
    }
}

.logo2{
    display: flex;
    margin-left: 2 / 50 * 100%;
    align-items: center;
}
nav{
    display: none;
}
.handband {
    display: flex;
    flex-direction: column;
    width: 28.2 / 50 * 100%;
    justify-self: flex-end;
    justify-content: center;
    grid-column: 2/3;
    align-items: flex-end;
    padding-right: 2 / 50 * 100%;
    color: #949393;


    .yourCart{
        border-bottom: none;
        order: 1;
        background-color: #fff;
        div:first-child {
            width: 50%;
            text-align: left;
            padding-left: 1.3 / 28.2 * 100%;
        }
        div:last-child {
            width: 50%;
            text-align: right;
            padding-right: 1.3 / 28.2 * 100%;
        }
        img{
            @include adheight(4);
        }

    }

    & > div {
        order: 2;
        display: flex;
        @extend %flexc;
        width: 100%;
        @include adheight(33);
        border: thin solid #d6d6d6;
        background-color: $itembgc;

        div:first-child {
            width: 47.7 / 56.4 * 100%;
            text-align: left;
            padding-left: 1.3 / 28.2 * 100%;
        }
        
        div:nth-child(2) {
            width: 33.3 / 56.4 * 100%;

            @include fontSize(11);

            letter-spacing: $ls-5;
            text-transform: uppercase;
            text-align: right;
        }

        div:nth-child(3) {
            width: 14.4 / 56.4 * 100%;

            @include fontSize(11);

            letter-spacing: $ls-5;
            color: #949393;
            padding-right: 1.3 / 28.2 * 100%;
            text-align: end;
        }

        img {
            @include adheight(19);
        }
        
    }
}

.menu {
    @include adheight(48);
    grid-column: span 2;
    width: 95.3%;

    @extend %flexc;

    margin: 0 auto;
    background-color: $mencol;

    & > div {
        display: flex;

        @extend %flexc;

        margin: 0 auto;
        height: 100%;

        div:first-child {
            width: 47.7 / 95.3 * 100%;
            text-align: left;
            padding-left: 2.2 / 95.3 * 100%;
            color: $whcol;

            @include fontSize(18);

            letter-spacing: $ls-5;
            text-transform: uppercase;
            text-align: left;
        }

        div:last-child {
            width: 47.7 / 95.3 * 100%;
            letter-spacing: $ls-5;
            color: #949393;
            padding-right: 2.2 / 95.3 * 100%;
            text-align: right;
        }

        img {
            @include adheight(20);
        }
    }
}

.slider{
    position: relative;
    width: 100%;
    grid-column: span 2;
    >img[alt="slide"]{
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
    >img[alt="rowL"]{
        @include adheight(117);
        position: absolute;
        top: calc(122 * (100vw / #{$maxWidth}));
        left: 0;
    }
    >img[alt="rowR"]{
        @include adheight(117);
        position: absolute;
        top: calc(122 * (100vw / #{$maxWidth}));
        right: 0;
    }
    .shopNow{
        position: absolute;
        top: 2.1 / 12.1 * 100%;
        left: calc(77 * (100vw / 768)) ;
        >img{
            @include adheight(235);
        }
    }
}
.slideNav{
    display: flex;
    grid-column: span 2;
    @extend %flexc;
}
.slider-2{
    display: none;
}
main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #ededed;
}
